body {
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.name {
    text-transform: capitalize;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
}

.pokemon-container {
    width: 33%;
    min-width: 164px;
}

.pokemon-content {
    border: solid 1px #2c3e50;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px 10px;
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-self: center;
}

img {
    width: 100%;
}

.type p {
    text-transform: capitalize;
}

.types {
    display: flex;
    flex-flow: row;
}
